body {
   background: grey;
}
.container {
    width: 90%;
    margin: auto;
}
header h1 {
    font-family: "Gravitas One", serif;
    color: white;
    text-align: center;
}
nav {
    background: rgb(228, 84, 190);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: poppins;
}
nav h2 {
    cursor: pointer;
}

.search {
    /* height: 50px; */
}

.search input {
    padding: 10px 2px;
    width: 12rem;
}
.search button {
    background: rgb(47, 46, 46);
    color: white;
    padding: 10px 55px;
    cursor: pointer;
}

article {
    width: 75%;
    background: white;
    padding: 10px 20px;
    margin: 10px 0;
}
.article-headings {
    font-family: "Gravitas One", serif;
}
p {
    font-family: poppins;
}